@{
    ViewData["Title"] = "Privacy Policy";
    ViewData["tab_title"] = "TAB Privacy Policy";
}
@section Styles{
    <style>
        p{color:red}
    </style>
}

<h1>@ViewData["Title"]</h1>

<p>Hello Word</p>

@section Scripts{
    <script>
        alert();
    </script>
}